pkgbase = dotnet-core-6.0
	pkgdesc = Installation of dotnet-core-6.0 SDK/Runtime via the official installation script
	pkgver = 6.0.16
	pkgrel = 1
	url = https://www.microsoft.com/net/core
	arch = any
	license = MIT
	provides = dotnet-core-6.0=6.0.16
	conflicts = dotnet-core-6.0
	conflicts = dotnet-runtime-6.0
	conflicts = dotnet-sdk-6.0
	conflicts = dotnet-targeting-pack-6.0
	conflicts = dotnet-core-6.0-bin
	conflicts = dotnet-targeting-pack-6.0-bin
	conflicts = dotnet-sdk-6.0-bin
	source = dotnet-install.sh::https://dot.net/v1/dotnet-install.sh
	b2sums = 68cc4671cf81d08f8a38dfa76ed46e64d2965283ce72aebe28e4fa836cfe1e4706aa4c6f57ade360c11d807eff72b894a1bc22cd1f4b98d3d714532f68a63e96

pkgname = dotnet-core-6.0
